<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">BBQ Project</h1>
        <button id="btn_user" mat-button [matMenuTriggerFor]="menu">User</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="topBtn" routerLink="/" routerLinkActive="active"><strong>Login</strong></button>
            <button mat-menu-item class="topBtn" routerLink="/registration" routerLinkActive="active"><strong>Sign Up</strong></button>
            <button mat-menu-item class="topBtn" [routerLink]="['/modify', username]" routerLinkActive="active"><strong>Reset Password</strong></button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav id="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <button class="sideBtn" mat-menu-item [routerLink]="['/answerQuestions', username]" routerLinkActive="active"><strong>Practice</strong></button>
            </mat-nav-list>
            <mat-nav-list>
                <button class="sideBtn" mat-menu-item routerLink="/maps" routerLinkActive="active"><strong>Map</strong></button>
            </mat-nav-list>
            <mat-nav-list>
                <button class="sideBtn" mat-menu-item [routerLink]="['/history', username]" routerLinkActive="active"><strong>Test History</strong></button>
            </mat-nav-list>
          <mat-nav-list>
            <button class="sideBtn" mat-menu-item [routerLink]="['/chart', username]" routerLinkActive="active"><strong>History Chart</strong></button>
          </mat-nav-list>
          <mat-nav-list *ngIf="username === 'admin'">
            <button class="sideBtn" mat-menu-item routerLink="/addQuestions" routerLinkActive="active"><strong>Add Questions</strong></button>
          </mat-nav-list>
          <mat-nav-list *ngIf="username === 'admin'">
            <button class="sideBtn" mat-menu-item routerLink="/adminQuestionsList" routerLinkActive="active"><strong>Questions List</strong></button>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <p *ngFor="let content of fillerContent">{{content}}</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


<!-- 
<mat-toolbar color="primary">

        <button mat-icon-button click="snav.toggle()" class="open_btn">more</button>

        <h3 style="text-align: center">BBQ</h3>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <ul>
            <li> <a href="#">SignUp</a></li>
            <li> <a href="#">Login</a></li>
            <li> <a href="#">Test</a></li>
            <li> <a href="#">Map</a></li>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
     
    </mat-sidenav-content>

</mat-sidenav-container>

-->
