<div class="title">
    <strong>Test History:</strong>
</div>
<table mat-table *ngIf="dataSource.length > 0" [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
    </ng-container>
  
    <!-- rightNum Column -->
    <ng-container matColumnDef="rightNum">
      <th mat-header-cell *matHeaderCellDef> Right </th>
      <td mat-cell *matCellDef="let element"> {{ element.rightNum }} </td>
    </ng-container>
  
    <!-- totalNum Column -->
    <ng-container matColumnDef="totalNum">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{ element.totalNum }} </td>
    </ng-container>
  
    <!-- percentage Column -->
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef> Percentage </th>
      <td mat-cell *matCellDef="let element"> {{ element.percentage | percent }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="dataSource.length <= 0" class="well">
      <strong class="result">No test history.</strong>
  </div>
  
  