.question_list {
    margin-left: 30%;
    width: 500px;
    margin-top: 10%;
    border: solid;
    border-color: #3f51b5;
    background-color: rgb(228, 218, 247);
}
.isCorrect_true{
    background-color: green;
  }
  
  .isCorrect_false{
    background-color: red;
  }
  