.question_list {
    margin-left: 40%;
    margin-top: 100px;
    border: solid;
    border-color: #3f51b5;
}
.isCorrect_true{
    background-color: green;
  }
  
  .isCorrect_false{
    background-color: red;
  }
  