<mat-card>
  <form (submit)="updateUser(userForm)" #userForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Original Password" name="oPassword" required ngModel #oPassword="ngModel">
      <mat-error *ngIf="oPassword.invalid">Please enter original password</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" name="nPassword" ngModel required #nPassword="ngModel">
      <mat-error *ngIf="nPassword.invalid">Please enter new password</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="RePassword" name="rePassword" ngModel required #rePassword="ngModel">
      <mat-error *ngIf="rePassword.invalid">Please repeat password</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>

</mat-card>
