<mat-toolbar color="primary">

    <p>BBQ</p>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <ul>
            <li> <a href="#">SignUp</a></li>
            <li> <a href="#">Login</a></li>
            <li> <a href="#">Test</a></li>
            <li> <a href="#">Map</a></li>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <p> {{onened}}</p>
    </mat-sidenav-content>
</mat-sidenav-container>
<p><button mat-button (click)="sidenav.toggle()" class="open_btn">more</button></p>










<!--<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
      <a class= "navbar-brand" href="#">BBQ Finalproject</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Sign up</a></li>
        <li><a href="#">login</a></li>
        <li><a href="#">Test</a></li>
        <li><a href="#">Map</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="page-sidebar-menu">
    <li ng-repeat="menu in menus">
        <a ui-sref={{menu.router}} style="cursor: pointer"  ng-click="getMenuName([menu])">
            <i class={{menu.class}}></i>
            <span class="title">{{menu.name}}</span>
            <span class={{menu.span}}></span>
        </a>
        <ul class="sub-menu">
            <li  ng-repeat="child in menu.children">
                <a ui-sref="{{child.router}}" style="cursor: pointer" ng-click="getMenuName([menu,child])">
                    <i class={{child.class}}></i> {{child.name}}
                    <span class={{child.span}}></span>
                </a>
                <ul class="sub-menu">
                    <li ng-repeat="third in child.thirds">
                        <a ui-sref={{third.router}} style="cursor: pointer" ng-click="getMenuName([menu,child,third])">
                            <i class="icon-cogs"></i> {{third.name}}
                            <span class={{third.span}}></span>
                        </a>
                        <ul class="sub-menu">
                            <li ng-repeat="four in third.fourth">
                                <a ui-sref={{four.router}} style="cursor: pointer" ng-click="getMenuName([menu,child,third,four])">
                                    <i class={{four.class}}></i>{{four.name}}
                                    <span class={{four.span}}></span>
                                </a>
                                <ul class="sub-menu">
                                    <li ng-repeat="five in four.fifth">
                                        <a ui-sref={{five.router}} style="cursor: pointer" ng-click="getMenuName([menu,child,third,four,five])">
                                            {{five.name}}
                                            <span class={{five.span}}></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
-->