mat-card{
  width: 80%;
  margin: auto;
  //margin-top: 16px;
  //align-content: center;

}
mat-form-field, textarea{
  width: 100%;

}
mat-radio-button{
  margin: 5px;
  width: 100%;
}
button{
  margin-top: 10px;
}
